apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-backend.fullname" . }}-svc
  labels:
    {{- include "todo-backend.labels" . | nindent 4 }}
  {{- if .Values.metrics.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.metrics.port | quote }}
    prometheus.io/path: {{ .Values.metrics.path | quote }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "todo-backend.selectorLabels" . | nindent 4 }}
